#shop-detail{
    .all-shop-detail{
        display: flex;
        justify-content: space-between;
        
        .left-shop-detail{
            width: 48%;
            .swiper {
                  width: 100%;
                  height: 100%;
                  .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                     height: 600px;
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                  }
              }
              .swiper {
                width: 100%;
                height: 150px;
                margin-left: auto;
                margin-right: auto;
              }
        
              .swiper-slide {
                background-size: cover;
                background-position: center;
              }
        
              .mySwiper2 {
                height: 80%;
                width: 100%;
              }
        
              .mySwiper {
                height: 20%;
                box-sizing: border-box;
                padding: 10px 0;
              }
        
              .mySwiper .swiper-slide {
                width: 25%;
                height: 100%;
                opacity: 0.4;
                cursor: pointer;
                height: 150px;
              }
        
              .mySwiper .swiper-slide-thumb-active {
                opacity: 1;
              }
        
              .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
        }

        .right-shop-detail{
            width:48%;
            .right-head{
                h3{
                    font-size: 30px;
                    color: #222222;
                    font-weight: 500;
                    margin-bottom: 20px;
                }
                span{
                    font-size: 22px;
                    color: #696969;
                }
                p{
                    margin-top: 20px;
                    font-size: 14px;
                    color: #767676;
                }
            }
            .right-count{
                display: flex;
                align-items: center;
                margin-top: 50px;
                .count-div{
                    
                    border: 1px solid #767676;
                    width: 100px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    .plus,.minus{
                        color: #696969;
                        cursor: pointer;
                    }
                }
                .add-card{
                    margin-left: 50px;
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 300px;
                        height: 60px;
                        background-color: #000;
                        color: #fff;
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }

            .right-main{
                margin-top: 50px;
                .right-main-head{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .head-box{
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        p{
                            font-size: 13px;
                            color: #222222;
                            text-transform: uppercase;
                            margin-left: 5px;
                            font-weight: 500;
                        }
                    }
                    .active{
                        position: relative;
                        &::after{
                            content: '';
                            position: absolute;
                            top: 100%;
                            left: 0%;
                            width: 70%;
                            background-color: #222222;
                            height: 1px;
                            transition: .5s ease;
                            margin-top: 5px;
                        }
                        &:hover::after{
                            width: 100%;

                        }
                    }
                }
                .right-main-content{
                    margin-top: 25px;
                    .wish-list-box{
                        display: none;
                      .text-box{
                        display: flex;
                        width: 200px;
                        justify-content: space-between;
                        align-items: center;
                        
                        margin-top: 15px;
                        p{
                            font-size: 14px;
                            color: #696969;
                           
                        }
                        span{
                            color: #222222;
                            font-size: 13px;
                            
                        }
                      }
                      .delivery{
                       
                        display: flex;
                        align-items: center;
                        p{
                            margin-left: 15px;
                            color: #222222;
                            font-size: 14px;
                            span{
                                color: #696969;
                            }
                        }
                      }
                      .truck{
                        margin-top: 30px;
                      }
                      .shipping{
                        margin-top: 20px;
                      }
                      &.active{
                        display: inline-block;
                      }
                    }

                    .share-box{
                        display: none;
                        a{
                            display: inline-block;
                            margin-top: 15px;
                            color: #222222;
                            padding: 10px;
                            width:fit-content;
                            transition: .5s ease;
                            background-color: #efebeb;
                            &:hover{
                                color: orangered;
                            }
                        }
                        &.active{
                            display: inline-block;
                        }
                        h4{
                            margin-top: 20px;
                        }
                        .ico-box{
                            display: flex;
                            margin-top: 20px;
                            width: fit-content;
                            background-color: #efebeb;
                            padding: 10px;
                            i{
                                margin-left: 5px;
                                margin-right: 5px;
                                transition: .5s ease;
                                color: #696969;
                                cursor: pointer;
                                &:hover{
                                    color: orangered;
                                }
                            }
                        }
                    }
                    .question-box{
                        display: none;
                        form{
                            width: 60%;
                            margin: auto;
                            text-align: center;
                            input{
                                width: 100%;
                                height: 50px;
                                padding: 10px;
                                outline: none;
                                opacity: 0.7;
                                margin-top: 25px;
                            }
                            textarea{
                                padding: 10px;
                                outline: none;
                                opacity: 0.7;
                                margin-top: 25px;
                                width: 100%;
                                height: 150px;
                            }
                            button{
                                
                                padding: 10px;
                                width: 150px;
                                margin-top: 25px;
                                background-color: #000;
                                color: #fff;
                                height: 50px;
                                cursor: pointer;
                                text-transform: uppercase;
                            }
                        }
                        &.active{
                            display: inline-block;
                           
                        }
                    }
                    .size-box{
                        display: none;

                        .choose-size-box-main{
                            display: flex;
                            align-items: center;
                            margin-top: 20px;
                            .siz-box{
                                padding: 10px;
                                margin-left: 10px;
                                margin-right: 10px;
                                text-align: center;
                                cursor: pointer;
                                transition:.5s ease ;
                                border: 1px solid #696969;
                                p{
                                 text-transform: uppercase;
                                 font-size: 14px;
                                 color: #222222;
                                }
                                &:first-child{
                                    margin-left: 0%;
                                }
                                &:hover{
                                    background-color: #000;
                                    p{
                                        color: #fff;
                                    }
                                }
                             }
                        }
                        &.active{
                            display: inline-block;
                        }
                    }
                }
            }

        }
    }
}

#comments{
    margin-top: 50px;
    padding-bottom: 50px;
    .all-comments{
        width: 80%;
        margin: auto;
        .comments-head{
            text-align: center;
            h4{
                font-size: 26px;
                color: #222222;
                text-transform: uppercase;
                
            }
        }
        .comments-subject{
            margin-top: 50px;
            h4{
                font-size: 18px;
                font-weight: 500;
                span{
                    font-weight: 700;
                }
            }
        }
        .comments-rating{
            margin-top: 30px;
            
            h5{
                font-size: 14px;
                
            }
            
           .rating-box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 15px;
            width: 170px;
            .rating {
                unicode-bidi: bidi-override;
                direction: rtl;
                
               
            }
            .rating > span {
                display: inline-block;
                position: relative;
                width: 1.2em;
                cursor: pointer;
             }
            .rating > span:hover:before,
            .rating > span:hover ~ span:before {
                 content: "\2605";
                 position: absolute;
             }
           }
        }

        .comments-content{
            margin-top: 50px;
           form{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .input-box{
                width: 48%;
                input{
                    width: 100%;
                    height: 50px;
                    border: 1px solid #696969;
                    opacity: 0.5;
                    padding: 10px;
                    margin-top: 15px;
                }
                
            }
            .textarea-box{
                width: 100%;
                margin-top: 30px;
                textarea{
                    width: 100%;
                    height: 100px;
                    margin-top: 15px;
                }
            }
            .submit-box{
                margin-top: 30px;
                input{
                    width: 150px;
                    height: 50px;
                    cursor: pointer;
                    padding: 15px;
                    background-color: #fff;
                    font-weight: 700;
                    color: #000;
                    border: 1px solid #000;
                    transition: .5s ease;
                    &:hover{
                        background-color: #000;
                    color: #fff;
                    }
                }
            }
           }
        }
    }
}

