@media(min-width:280px) and  (max-width:576px){
    #header{
        .all-header{
            
            .left-header{
                display: none;
            }
           .right-header{
            .ico-boxes{
                display: inline-block ;
              .open-ico{
                  display: inline-block;
              }
             }
            a{
                display: none;
            }
            .shop-ico{
                display: none;
            }
            
           
            
           }
           
            
          
        }
    }

    .card{
        left: 40%;
        width: 60vw;
        height: 80vh;
    }

    #first-slider{
        height: 70vh;
        .swiper{
            .swiper-slide{
                .slider-text{
                    top: 20%;
                    h6{
                        font-size: 12px;
                    }
                    h1{
                        font-size: 48px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    #shop-now{
        padding-top: 600px;
        .all-shop-now{
            .shop-now-box{
                width: 100%;
                margin-top: 20px;
            }
            .shop-second-box{
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    #best-selling{
        padding-top: 70px;
        .all-best-selling{
            .best-selling-menu{
                ul{
                    li{
                        font-size: 13px;
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }
            }
            .best-selling-main{
                margin-top: 0px;
                .swiper{
                    width: 100%;
                    .swiper-slide{
                        .slider-up{
                            height: 250px;
                        }
                    }
                }
                .slider-ico{
                    display: none;
                }
            }
        }
    }

    #by-category{
        padding-top: 70px;
        .all-category{
            .category-main{
                .category-box{
                    width: 45%;
                    margin-top: 20px;
                    .category-img{
                        height: 170px;
                    }
                }
            }

        }
    }

    #new{
        height: 350px;
        h2{
            font-size: 36px;
        }
        p{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    #latest-new{
        padding-top: 70px;
        .all-latest{
            .latest-main{
                .swiper{
                    .swiper-slide{
                        .slider-img{
                            height: 170px;
                        }
                    }
                }
            }
        }
    }

    #brends{
        .all-brends{
            
            .brend-img{
                display: none;
                &:first-child{
                    display: inline-block;
                    width: 45%;
                }
                &:last-child{
                    display: inline-block;
                    width: 45%;
                }
            }
            
        }
    }

    #footer{
        .all-footer{
            .up-footer{
                form{
                    input{
                        width: 55%;
                    }
                }
            }
            .down-footer{
                .left-down-footer{
                    width: 100%;
                }
                .right-down-footer{
                    width: 100%;
                    flex-wrap: wrap;
                    .list-box{
                        width: 50%;
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    
}